<div class="row">
  <div class="col-md-5 col-md-offset-1">
    index
  </div>
  <div class="col-md-4">
    value
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    PM2.5
  </div>
  <div class="col-md-4">
    55
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    PM10
  </div>
  <div class="col-md-4">
    16
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    NO2
  </div>
  <div class="col-md-4">
    40
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    Temp.
  </div>
  <div class="col-md-4">
    6
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <p>Air Quality Info</p>
  </div>
</div>
