:host {
  display: block;
  padding: 1em 0;
  overflow: hidden;
}

#map-container {
  height: 500px;
  position: relative;
}

div.search {
  margin-bottom: 15px;
}

.date-picker {
  margin-top: 1em;
}
