<div class="row" align="center" style="margin-top: 10px">
<input
  #slider
  id="sliderInput"
  type="text"
  name="somename"
  class="slider"
  data-slider-ticks="[0, 3, 6, 9, 12, 15, 18, 21, 24]"
  data-slider-ticks-labels='["00:00", "03:00", "06:00", "09:00", "12:00", "15:00", "18:00", "21:00", "00:00"]'
  data-slider-min="0"
  data-slider-max="24"
  data-slider-step="1"
  data-slider-tooltip="hide"
  style="width:90%"
/>
  <br/>
  <span id="ex6CurrentSliderValLabel">Current Time Selected: <span id="sliderValue">{{sliderTimeString}}</span></span>
</div>
