<div class="container">
  <h2>Air Quality Radar</h2>
  <p>Air Quality Radar is a forecasting service for air pollution in and around Cambridge. 
  It’s a weather forecast except instead of predicted sunshine and rainfall, it tells you 
  the different levels of pollution to expect in the future.</p>

  <h3>How to Use</h3>
  <p>The map shows a bird’s eye view of Cambridge. You can click-and-drag your way around 
  the city and zoom in and out by scrolling up and down on your mouse. The red-tinted 
  overlay shows the severity of the pollution at that point on the map. The redder a point 
  is, the worse the pollution levels are.</p>
  <p>You can find a specific area in Cambridge by typing it into the search bar above the 
  map and selecting the location from the list that appears below. The map will show you 
  the place you’re looking for.</p>
  <p>If you want to change the time you’re looking at, the slider below the map can be 
  clicked and dragged left or right to move the map backwards or forwards in time.</p>
  <p>The tables and graphs to the right side of the map show the levels of different pollutants 
  over time, averaged across the whole of Cambridge. These give you a general idea of the 
  pollution trends for the whole city.</p>

  <h3>Meet the Pollutants</h3>
  <ul>
    <li>PM2.5: These are tiny particles in the air with a diameter of less than 2.5 
    micrometres. Being very small, they can cause serious health problems by penetrating deep 
    into lungs and the bloodstream. In high concentrations, they have been found to contribute 
    to lung cancer and heart attacks.</li>
    <li>PM10: These are small particles with a diameter of less than 10 micrometres. They carry 
    the same risks associated with PM2.5, but as they are larger they have been found to be 
    significantly less harmful to the body.</li>
    <li>NOX: This is a catch-all label for Nitrogen Oxides. In extreme circumstances, it is 
    responsible for smog and acid rain. It is created by sources combustion, such as road 
    traffic. Long-term exposure has been linked to respiratory health problems including asthma.
    </li>
  </ul>

  <h3>Data Attributions</h3>
  <p>This application contains public sector information licensed under the Open Government 
  Licence.</p>
</div>
